@import "grid";

$grisOscuroTitulo : #424242;
$grisClaroFecha: #5f6368;
$grisTexto: #414549;
$azul: #4285f4;
$fuente: 'Roboto', sans-serif;
$ancho : 250px;
$margenTop : 50px;
$espacio15p: 50px;
.colorAzul{
  color: $azul;
}
.logo{
    text-align: center;
    img{
        width: $ancho;
        margin-top: $margenTop;
    }
}
.search{
   margin-top: $margenTop;
}
.listaItems{

    text-align: center;
    font-family: $fuente;
    a{
        text-decoration: none;
    }
    li{
        display: inline-block;
        padding-left: $espacio15p;


    }
}
.postcast{
    img{
        width: 100%;
    }
}
h1{
    font-family: $fuente;
    color: $grisOscuroTitulo;
}
h3{
    @extend h1;
}
hr{
    background-color: $azul;
    height: 5px;
}
.noticias
{
  img{
    width: 100%;
  }
  span{
    color: $grisClaroFecha;
  }


}
.signup{
  background-color: $grisClaroFecha;
}
p{
  color: $grisTexto;
  text-align: justify;
}
img{
  width: 90%;
}
